<div class="ace-editor-container" :class="[ { 'show-header': showHeader, 'show-footer': showFooter }, themeCssClass ]">
    <a-row class="header" type="flex" align="middle" v-show="showHeader">
        <a-row class="tabs">
            <div class="tab-content ace_marker-layer" v-if="!hasTabsSlot">
                <a-row type="flex" justify="space-between" align="middle" class="item" :class="{ 'ace_active-line': item.active }" @click.native="changePage(item)" v-for="(item,i) in pages" :key="i">
                    <a-dropdown :trigger="['contextmenu']">
                        <a-row type="flex" align="middle" class="left-side">
                            <a-icon type="code" />
                            <a-tooltip :title="item.title">
                                <a-input v-model="item.title" class="title":default-value="item.defaultTitle" :disabled="item.inputTitleDisabled" @blur.native="onPageTitleBlur(item, $event)" />
                            </a-tooltip>
                        </a-row>
                        <a-menu class="action-menu" slot="overlay">
                            <a-menu-item class="menu-title" :disabled="!0">选项卡</a-menu-item>
                            <a-menu-divider />
                            <a-menu-item :disabled="closePageIconDisabled" @click="closePage(item, !1)">
                                关闭页面
                            </a-menu-item>
                            <a-menu-item @click="item.isFixed = !item.isFixed">
                                {{ item.isFixed ? '取消固定' : '固定选项卡' }}
                            </a-menu-item>
                        </a-menu>
                    </a-dropdown>
                    <a-row type="flex" align="middle" class="actions">
                        <a-icon type="delete" class="close-icon" :class="{ disabled: closePageIconDisabled }" v-if="!closePageIconDisabled && !item.isFixed" @click="closePage(item, !1)" />
                        <a-icon type="tag" class="fixed-icon" v-if="item.isFixed" @click="item.isFixed = !1" />
                    </a-row>
                </a-row>
            </div>
            <slot 
                name="tabs" 
                :pages="pages"
                :add-page--icon-disabled="addPageIconDisabled" 
                :close-page-icon-disabled="closePageIconDisabled" 
                :page-fn="(... args) => page(... args)" 
                :close-fn="() => closePage(item, !1)" />
        </a-row>
        <a-row class="actions" type="flex" align="middle" v-show="showActions">
            <a-row class="action-content" type="flex" align="middle" v-if="!hasActionsSlot" v-show="!addPageIconDisabled">
                <a-dropdown class="action-item" v-show="!addPageIconDisabled">
                    <a-icon type="plus" class="add-icon"/>
                    <a-menu class="action-menu" slot="overlay">
                        <a-menu-item class="menu-title" :disabled="!0">选择语言</a-menu-item>
                        <a-menu-divider />
                        <a-menu-item @click="page('', item.mode, '', !1)" v-for="(item, i) in supportedModeArray" :key="i">
                            {{ item.name }}
                        </a-menu-item>
                    </a-menu>
                </a-dropdown>
            </a-row>
            <slot 
                name="actions" 
                :pages="pages"
                :add-page--icon-disabled="addPageIconDisabled" 
                :close-page-icon-disabled="closePageIconDisabled" 
                :page-fn="(... args) => page(... args)" 
                :close-fn="() => closePage(item, !1)" />
        </a-row>
    </a-row>

    <div class="content" ref="editor">

    </div>

    <a-row class="footer ace_gutter-active-line" type="flex" align="middle" justify="end" v-show="showFooter">
        <a-dropdown>
            <a href="javascript:;" class="item ace_gutter">换行：{{ newLineMode }}</a>
            <a-menu class="action-menu" slot="overlay">
                <a-menu-item class="menu-title" :disabled="!0">选择换行模式</a-menu-item>
                <a-menu-divider />
                <a-menu-item @click="changeNewLineMode('auto')">
                    auto
                </a-menu-item>
                <a-menu-item @click="changeNewLineMode('unix')">
                    unix
                </a-menu-item>
                <a-menu-item @click="changeNewLineMode('windows')">
                    windows
                </a-menu-item>
            </a-menu>
        </a-dropdown>
        <a-dropdown>
            <a href="javascript:;" class="item ace_gutter">空格：{{ tabSize }}</a>
            <a-menu class="action-menu" slot="overlay">
                <a-menu-item class="menu-title" :disabled="!0">选择缩进</a-menu-item>
                    <a-menu-divider />
                <a-menu-item @click="changeTabSize(2)">
                    2 空格
                </a-menu-item>
                <a-menu-item @click="changeTabSize(4)">
                    4 空格
                </a-menu-item>
            </a-menu>
        </a-dropdown>
        <template v-if="activePage">
            <a-dropdown>
                <a href="javascript:;" class="item ace_gutter">语言：{{ activePage.mode }}</a>
                <a-menu class="action-menu" slot="overlay">
                    <a-menu-item class="menu-title" :disabled="!0">选择语言</a-menu-item>
                    <a-menu-divider />
                    <a-menu-item @click="changePageMode(item.mode)" v-for="(item, i) in supportedModeArray" :key="i">
                        {{ item.name }}
                    </a-menu-item>
                </a-menu>
            </a-dropdown>
        </template>
        <a-dropdown>
            <a href="javascript:;" class="item ace_gutter">主题：{{ currentTheme }}</a>
            <a-menu class="action-menu" slot="overlay">
                <a-menu-item class="menu-title" :disabled="!0">选择主题</a-menu-item>
                <a-menu-divider />
                <a-menu-item @click="changeTheme(th.theme)" v-for="(th, i) in supportedThemeArray" :key="i">
                    {{ th.theme }}
                </a-menu-item>
            </a-menu>
        </a-dropdown>
    </a-row>
    <slot name="default" />
</div>